.grid-container
{
	text-align: center;
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
	"snake header header header header placeholder"
	"leftsnake left right right right rightsnake"
	"leftsnake left right right right rightsnake"
	"bottom bottom bottom bottom bottom bottom"
}

.item-1
{
	position:relative;
	margin-left: 75px;
	text-align: left;
	grid-area: left;
	border: 2px solid;
    border-color: black;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #bfbfe3;
	width: auto;
	height: 100%;
}

.rapport
{
	position:relative;
	text-align: left;
	grid-area: right;
	border: 2px solid;
    border-color: black;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #bfbfe3;
	width: auto;
	height: 100%;
}

.item-2
{
	position:relative;
	margin-right: 75px;
	text-align: left;
	grid-area: right;
	border: 2px solid;
    border-color: black;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #bfbfe3;
	width: auto;
	height: 100%;
}

.item-3
{
	position:relative;
	margin-left: 100px;
	grid-area: header;
	display: grid-area;
	width: 600px;
	margin:auto;
	font-size: 26;
	border: 2px solid black;
	background-color: #329020;
}

.header
{
	position:relative;
	margin-left: 100px;
	grid-area: header;
	display: grid-area;
	width: 600px;
	margin:auto;
	font-size: 26;
	border: 2px solid black;
	background-color: #329020;
}

.item-4
{
	position:relative;
	grid-area: bottom;
	text-align: center;
}

.item-5
{
	position:relative;
	grid-area: snake;
}

.item-6
{
	position:relative;
	grid-area: leftsnake;
}

.item-7
{
	position:relative;
	grid-area: rightsnake;
}

.item-8
{
	position:relative;
	width:150px;
	grid-area: placeholder;
}

.video-container
{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.video-container iframe
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.body
{
	position:relative;
	margin: auto;
	padding-left: 10%;
	padding-right: 10%
}


